BTS.Client/Connected Services/TrackingService/Kernel.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kernel.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kernel.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TStorage">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Fields" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PKField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Table" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TStorage" nillable="true" type="tns:TStorage" />
  <xs:complexType name="ArrayOfTStorage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TStorage" nillable="true" type="tns:TStorage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTStorage" nillable="true" type="tns:ArrayOfTStorage" />
</xs:schema>