BTS.Client/Connected Services/TrackingService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Kernel.Service" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kernel.Service" minOccurs="0" name="storage" nillable="true" type="q1:TStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kernel.Service" minOccurs="0" name="storage" nillable="true" type="q2:TStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kernel.Service" minOccurs="0" name="storage" nillable="true" type="q3:TStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Kernel.Service" minOccurs="0" name="query" nillable="true" type="q4:TStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kernel.Service" minOccurs="0" name="LoadListResult" nillable="true" type="q5:ArrayOfTStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Kernel.Service" minOccurs="0" name="query" nillable="true" type="q6:TStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Kernel.Service" minOccurs="0" name="LoadDetailsResult" nillable="true" type="q7:TStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>