BTS.Client/Connected Services/TrackingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrackingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Kernel.Service" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrackingService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="ITrackingService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ITrackingService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ITrackingService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ITrackingService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ITrackingService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ITrackingService_LoadList_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadList" />
  </wsdl:message>
  <wsdl:message name="ITrackingService_LoadList_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadListResponse" />
  </wsdl:message>
  <wsdl:message name="ITrackingService_LoadDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDetails" />
  </wsdl:message>
  <wsdl:message name="ITrackingService_LoadDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrackingService">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrackingService/Insert" message="tns:ITrackingService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrackingService/InsertResponse" message="tns:ITrackingService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrackingService/Update" message="tns:ITrackingService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrackingService/UpdateResponse" message="tns:ITrackingService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrackingService/Delete" message="tns:ITrackingService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrackingService/DeleteResponse" message="tns:ITrackingService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrackingService/LoadList" message="tns:ITrackingService_LoadList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrackingService/LoadListResponse" message="tns:ITrackingService_LoadList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITrackingService/LoadDetails" message="tns:ITrackingService_LoadDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITrackingService/LoadDetailsResponse" message="tns:ITrackingService_LoadDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITrackingService" type="tns:ITrackingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/ITrackingService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ITrackingService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ITrackingService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadList">
      <soap:operation soapAction="http://tempuri.org/ITrackingService/LoadList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDetails">
      <soap:operation soapAction="http://tempuri.org/ITrackingService/LoadDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackingService">
    <wsdl:port name="BasicHttpBinding_ITrackingService" binding="tns:BasicHttpBinding_ITrackingService">
      <soap:address location="http://localhost:8733/TrackingService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>